<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="utf-8">
        <title>Entrar</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/static/css/login.css" rel="stylesheet">
    </head>
    <body>
            <h1>Entrar</h1>
            <form method="post" enctype="multipart/form-data">
                <input type="text" name="username" placeholder="Nome de usuário"><br>
                <input type="password" name="password" placeholder="Senha"><br>
                <div class="bio">
                    <label for="biometry">Envie sua impressão digital:</label><br>
                    <input type="file" name="biometry">
                </div>
                <input type="submit" value="Entrar">
            </form>
    </body>
</html>