<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block page_title %}{% endblock %}</title>
        <link href="/static/css/style.css" rel="stylesheet">
        <style>
            header {
                background-color: {{ color }};
            }

            section, table {
                border: 1px solid {{ color }};
            }
            {% block style %}{% endblock %}
        </style>
    </head>
    <body>
        <header>
            <h1>{% block header_title %}{% endblock %}</h1>
            <div class="login">
                <p>Olá {{ user }}!<br>
                <a href="/logout">Sair</a></p>
            </div>
        </header>
        <main>
            {% block content %}{% endblock %}
        </main>
    </body>
</html>
